@import "src/scss/patterns/index";

.title {
  font-family: 'Roboto', serif;
  @include reset;
  color: $main-blue;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

#section03 {
  position: absolute;
  left: 100px;
}

#section03 a {
  padding-top: 60px;
}

#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 2s infinite;
  animation: sdb03 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.paragraph {
  @include reset;
  font-family: 'PT Mono', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.01em;
}

.about {
  padding: 0 100px 0 100px;
  margin: 0 auto;
  flex-direction: column;
  @include flex-center;

  .welcome {
    width: 100%;
    @include flex-center-between;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;

    border-bottom: 5px dotted #233554;
    padding-bottom: 100px;

    &__button-wrapper {
      margin-top: 100px;
      width: 100%;

      position: relative;
    }

    &__image {
      width: 450px;
      animation: gravity 3s infinite ease-in-out;
    }

    @keyframes gravity {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(20px);
      }

      100% {
        transform: translateY(0);
      }

    }

    &__text-wrapper {
      width: 100%;
      max-width: 450px;
      margin-top: 50px;

      h2 {
        @include reset;
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 64px;
        letter-spacing: 0.01em;
        color: $main-blue;
        margin-bottom: 20px;
      }

      em {
        font-family: 'PT Mono', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: $white-gray;

        h3 {
          @include reset;
          margin: 50px 0 0;
          font-family: 'Roboto', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 0.01em;
          color: $white-gray;
        }

        ul {
          @include reset;
          list-style-type: square;
          margin-left: 12px;

          li {
            @include reset;
            color: $white-gray;
            font-size: 16px;
            line-height: 25px;

            &::marker {
              color: $main-blue;
            }
          }
        }
      }
    }
  }


  .info {
    width: 100%;
    @include flex-center-between;
    gap: 40px;
    margin: 100px 0;

    &__box-image {
      position: relative;
      min-width: 250px;
      min-height: 250px;

      img {
        position: absolute;
        z-index: 2;
        width: 230px;
        height: 230px;
        object-fit: cover;
        border-radius: 8px;
      }


      span {
        width: 230px;
        height: 230px;
        position: absolute;
        bottom: 0;
        right: 0;
        border: 2px solid $main-blue;
        border-radius: 8px;
      }
    }

    &__box-text {
      font-family: 'Roboto', serif;
      align-self: flex-start;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .slider {
    margin: 100px calc(100px - 50vw) 100px calc(100px - 50vw);
    width: calc(100vw - 16px);
    padding: 30px 0 0 0;
    background-color: #080E15;

    &__wrapper {
      width: 100%;
      height: 550px;
      border-radius: 10px;
      padding-top: 10px;
      box-sizing: border-box;
      position: relative;
    }

    span {
      background-color: $dark-blue;
      width: 100%;
      height: 45px;
      position: absolute;
      bottom: 0;
    }

    &__image-wrapper {

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 100;
    }

    &__image {
      max-height: 500px;
    }

    &__subtitle {
      @include reset;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color: $white-gray;
    }
  }

  .desc {
    align-self: flex-end;
    margin-bottom: 80px;
    max-width: 560px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__buttons-box {
      display: flex;
      gap: 10px;
      margin-top: 20px;
    }
  }

  .arts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px 0;

    &__grid {
      display: grid;
      grid-template-columns: 1fr 150px 150px 1fr;
      grid-template-rows: 185px 185px;
      gap: 10px;
      grid-template-areas:
    ". . . ."
    ". rect rect .";
      background-color: #fff;
    }

    .rect {
      grid-area: rect;

    }
  }
}
