@import "./src/scss/patterns/index";

.header {
  width: 100%;
  min-height: 90px;
  box-sizing: border-box;
  @include flex-center-between;

  @media screen and (max-width: 1180px) {
    padding: 0 70px;
  }


  &__active::marker {
    color: #fff;
  }

  @keyframes widthAnimation {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }


  img {
    width: 160px;
    cursor: pointer;
  }

  &__nav {
    @include flex-center-between;
    gap: 30px;

    ul {
      @include reset;
      list-style: square;
      gap: 50px;
      display: flex;

      li {
        color: #4B98F2;
        position: relative;

        a {
          @include reset;
          text-decoration: none;
          font-family: 'PT Mono', monospace;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.05em;
          color: $white-gray;
          cursor: pointer;
        }
      }
    }
  }

  a {
    @include reset;
    text-decoration: none;
  }
}