@import "./src/scss/patterns/index";

.intro {
  box-sizing: border-box;
  @include flex-center-center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 400px;
  gap: 70px;
  margin-top: 70px;

  @media screen and (max-width: 1070px) {
    margin-top: 0;
  }

  &__text-wrapper {
    @include flex-center-center;
    flex-direction: column;

    h1 {
      @include reset;
      font-family: 'Roboto', serif;
      font-weight: 700;
      font-size: 55px;
      line-height: 64px;
      letter-spacing: 0.05em;
      color: $main-blue;
      margin-bottom: 15px;

      @media screen and (max-width: 500px) {
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 5px;
      }

      @media screen and (max-width: 335px) {
        font-size: 35px;
        line-height: 50px;
      }

    }

    p {
      @include reset;
      font-family: 'PT Mono', serif;
      font-weight: 400;
      font-size: 25px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: $white-gray;
      margin-bottom: 23px;

      @media screen and (max-width: 500px) {
        font-size: 20px;
        line-height: 25px;
      }

      @media screen and (max-width: 335px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    ul {
      @include reset-list;
      @include flex-center-between;
      gap: 12px;
      //margin-top: 27px;

      li {
        transition: transform ease-in-out 0.3s;
        @include flex-center-center;
        width: 40px;
        height: 40px;
        background-color: $white-blue;
        border-radius: 50%;
        cursor: pointer;

        @media screen and (max-width: 1063px) {
          width: 35px;
          height: 35px;
        }

        &:hover {
          transform: scale(1.1);

          a svg path{
            fill-opacity: 1;
          }
        }

        a {
          position: relative;
          text-decoration: none;
          width: 40px;
          height: 40px;

          svg {
            position: absolute;
            left: 5px;
            top: 5px;
            width: 27px;
            height: 27px;

            @media screen and (max-width: 1063px) {
              width: 23px;
              height: 27px;
            }

            path {
              transition: fill-opacity ease-in-out 0.3s;
            }
          }
        }
      }
    }
  }

  &__image-wrapper {
    width: 550px;
    height: 100%;
    position: relative;

    @media screen and (max-width: 1063px) {
      padding: 0 10px;
    }
  }
}